LOCAL_WORKER_HOST=127.0.0.1
LOCAL_WORKER_PORT=8001
LOCAL_WORKER_URL=http://127.0.0.1:8001
KUBERNETES_WORKER_URL=http://127.0.0.1:8002
KUBERNETES_CLUSTER_NAME=aion-6g-cluster
# Leave blank to use the current context from kubectl config current-context.
KUBERNETES_CONTEXT=
KUBERNETES_NAMESPACE=aion-6g
KUBERNETES_DEPLOYMENT=aion6g-worker
KUBERNETES_CONTAINER=aion6g-worker
RATE_LIMIT_PER_MINUTE=60
