LLM_PROVIDER=
LLM_API_KEY=
LLM_MODEL=
LOCAL_WORKER_HOST=127.0.0.1
LOCAL_WORKER_PORT=8001
LOCAL_WORKER_URL=http://127.0.0.1:8001
KUBERNETES_WORKER_URL=http://127.0.0.1:8002
KUBERNETES_NAMESPACE=default
RATE_LIMIT_PER_MINUTE=60
